@model MusicianMVC.Models.Instrument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <h4>Instrument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Difficulty.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musicians)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Musicians.Count == 0)
            {
                <em>No one plays the @Model.Name</em>
            }
            else
            {
                foreach (Musician musician in Model.Musicians)
                {
                    <div>@Html.DisplayFor(model => musician.Name)</div>
                }
            }
        </dd>
    </dl>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Manage Musicians", "ManageMusicians", new { id=Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
